html {
	height: 100%; 
	background:	linear-gradient(rgba(178, 38, 37, 0.5), rgba(82, 169, 199, 0.6));
}

p {
    color: #2d2e30;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

label {
    font-family: Helvetica, sans-serif;
    font-size: 15px;    
    font-weight: lighter; 
}

#calculator {
    background: white;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 30px 30px;
	width: 30%;
	margin: 10% 10% 2% 10%;
}

#si, #no {
    width: 50px;
	background: #26B276;
	font-weight: bold;
	color: white;
	border: 0;
	border-radius: 1px;
	padding: 10px 5px;
	margin: 10px 5px;
    cursor: pointer;
}